/scheduling_utils.egg-info/
/dist/
/.idea/.gitignore
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/scheduling_utils.iml
/info_for_developers.md
